.title {
  font-size: 18px;
  font-weight: 600;
}

.number {
  color: #4395ff;
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0 !important;
  line-height: 1;
}

.active {
  color: #4395ff;
}
.size {
  color: #999;
  line-height: 1;
}

.header-quota {
  position: relative;
  .quota-tips {
    top: 10px;
    left: 20px;
    position: absolute;
  }
  .ant-card-body {
    display: flex;
    width: 100%;
    text-align: center;
    .item {
      width: 25%;
      border-right: 1px solid #e3e8ef;
      flex: 1;
      &:last-child {
        border-right: none;
      }
      .item-label {
        font-size: 24px;
        font-weight: 700;
        line-height: 46px;
        color: #666;
      }
      .text-title {
        font-size: 12px;
        line-height: 1;
        color: #9ea7b4;
      }
    }
  }
}

.footprint-des {
  padding: 20px;
  margin-left: 10px;
  background: #f7f7f7;
  border-radius: 4px;
  width: 90%;
  cursor: pointer;
  margin-top: 20px;
  .flex {
    margin-bottom: 10px;
  }
}

.web_icon {
  width: 34px;
  height: 34px;
}

.click_icon {
  width: 30px;
  height: 30px;
}

.request_icon {
  width: 34px;
  height: 34px;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex: 1;
}

.flex-grow-0 {
  flex: 0;
}

.flex-item {
  flex-basis: 50px;
  text-align: right;
}
