.web_icon {
  width: 34px;
  height: 34px;
}

.click_icon {
  width: 30px;
  height: 30px;
}

.request_icon {
  width: 34px;
  height: 34px;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex: 1;
}

.flex-grow-0 {
  flex: 0;
}

.flex-item {
  flex-basis: 50px;
  text-align: right;
}

.detail-box {
  padding-left: 30px;
  li {
    label {
      font-size: 14px;
      color: #363b52;
      font-weight: 500;
      margin-bottom: 10px;
    }
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #6c6e7a;
    margin-bottom: 10px;
    overflow-wrap: break-word;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.time-line-list-box {
  height: 500px;
  padding-left: 30px;
  overflow-y: scroll;
}
