.performance__consume_time_warp {
  width: 100%;
  margin-bottom: 20px;
  .consume_time_ranking {
    height: 810px;
    width: 500px;
    .consume_time_ranking_item {
      padding: 10px;
      background: #a8dbdb;
      color: #fff;
      border-radius: 4px;
      font-size: 14px;
      margin-bottom: 20px;
      .flex-grow-1 {
        flex-basis: 452px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .flex-grow-0 {
        flex-basis: 160px;
        text-align: right;
      }
    }
  }
  .consume_time_charts {
    .ant-card-body {
      width: calc(100vw - 582px);
    }
  }
}