.ant-layout-header {
  background: #fff;
}

body {
  color: #333 !important;
}

.ant-layout {
  min-width: 1600px;
}

.site-layout-content {
  min-width: 1560px;
  margin: 20px;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #333;
}

.home-size {
  font-size: 20px;
}

.ant-card-bordered {
  border: none !important;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex: 1;
}

.flex-grow-0 {
  flex: 0;
}
.flex-item {
  flex-basis: 50px;
  text-align: right;
}

.header-quota {
  position: relative;
  .quota-tips {
    top: 10px;
    left: 20px;
    position: absolute;
  }
  .ant-card-body {
    display: flex;
    width: 100%;
    text-align: center;
    .item {
      width: 25%;
      border-right: 1px solid #e3e8ef;
      flex: 1;
      &:last-child {
        border-right: none;
      }
      .item-label {
        font-size: 24px;
        font-weight: 700;
        line-height: 46px;
        color: #666;
      }
      .text-title {
        font-size: 12px;
        line-height: 1;
        color: #9ea7b4;
      }
    }
  }
}

.active {
  color: #4395ff;
}

.timePickerContainer {
  margin-bottom: 20px;
  display: flex;
  .timePicker {
    margin-right: 20px;
  }

  .timeGrain {
    display: flex;
    height: 32px;
    align-items: center;
  }
}

.actionTimeLineImg {
  width: 50px;
  height: 50px;
}

.userActionIcon {
  width: 60px;
  height: 60px;
}


.over-hidde{
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  width: 450px;
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}